<!DOCTYPE html>
<html>
  <head>
    <title>How many rings ? - Faites estimer votre collection de jeux vidéo !</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('hmr_logo.png') %>
    <meta property="og:title" content="How many rings ?" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.howmanyrings.store" />
    <meta property="og:image" content="<% asset_path('hmr_logo.png') %>" />
    <meta property="og:description" content="Estimez votre collection de jeux vidéo !" />
    <meta property="og:site_name" content="How many rings ?" />
  </head>

    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

      <div class="mobile-container">
        <%= yield %>
      </div>
  </body>
</html>
